[submodule "_emacs.d/vendor/rinari"]
	path = _emacs.d/vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "_emacs.d/vendor/jabber"]
	path = _emacs.d/vendor/jabber
	url = git://catap.ru/emacs-jabber/emacs-jabber.git
